.z-index--1 {
    z-index: -1;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-10 {
    z-index: 10;
}

.z-index-100 {
    z-index: 100;
}

.z-index-200 {
    z-index: 200;
}

.bg-padding {
    padding: $spacer*2 0;
}

.bg-green {
    background-color: #ecf2e8;
}
.bg-grey {
    background-color: #ecedee;
}

.block__tint-overlay {
    opacity: .65;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e8ef;
    mix-blend-mode: lighten;
}

section {
    position: relative;
    z-index: 2;
    padding-top: $spacer/4;
    padding-bottom: $spacer/4;
}

.bg-white {
    background-color: #fff;
}

.v-hidden {
    visibility: hidden !important;
    @include media-breakpoint-down(md) {
        display: none !important;
    }
}

.green-tint {
    background-color: #f4f8f1;
}

.green-tint--top {
    top: 0;
    width: 100%;
    height: 80%;
    @include media-breakpoint-up(md) {
        width: 78%;
        height: 50%;
    }
}

.green-tint--top-last {
    left: 0;
}

.green-tint--top-first {
    right: 0;
}

//content-hero

.bg-green {
    background-color: #366141;
}

.content-hero {
    background: rgb(123,177,64);
    background: linear-gradient(0deg, rgba(123,177,64,1) 0%, rgba(4,15,43,1) 100%);
}

.scroll-icon {
    max-width: 24px;
    height: auto;
}

.snowy-hills {
    position: absolute;
    bottom: -1px;
    height: 144px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1580' height='145' viewBox='0 0 1580 145'%3E%3Cpath id='Union_1' data-name='Union 1' d='M24062.473,10878H22619v-91.868a276.487,276.487,0,0,0,35.316,2.384c12.725,0,23.91-1.043,33.252-3.109,6.7-1.469,16.428-5.107,29.74-11.134,11.66-5.278,24.516-11.672,36.949-17.851l.023-.013.207-.1.012-.006h.006l.115-.055c12.244-6.089,23.809-11.842,33.424-16.139,10.848-4.846,17.555-7.106,21.105-7.106a5.422,5.422,0,0,1,1.125.1c5.467,1.1,14.646,5.967,25.27,11.6l.006.007.1.048.041.024.068.03c7.027,3.73,14.986,7.954,23.061,11.715a152.118,152.118,0,0,0,24.391,9.275c9.428,2.529,24.633,5.405,42.23,8.739l.055.013.176.03c16.652,3.15,35.529,6.722,51.623,10.482,18.514,4.315,30.5,8.209,36.65,11.9a57.29,57.29,0,0,0,18.469,7.477,88.773,88.773,0,0,0,18.453,1.463c1.82,0,3.635-.012,5.553-.03l.334-.006.236-.007.51-.006c1.756-.012,3.941-.036,6.109-.036,5.012,0,9.291.1,13.469.329.668.036,1.385.055,2.119.055,6.416,0,14.373-1.4,24.322-4.267,9.5-2.736,19.48-6.46,27.109-9.391,3.189-1.22,6.436-2.487,9.045-3.512l.1-.036.068-.03c13.82-5.405,25.762-10.074,31.449-10.074a7.86,7.86,0,0,1,.941.05c7.121.779,17.117,3.863,27.7,7.136,7.348,2.273,14.947,4.619,22.359,6.437,8.322,2.053,14.969,3.047,20.309,3.047a28.126,28.126,0,0,0,8.748-1.213c.34-.109.674-.227,1.008-.336.184-.054.359-.115.541-.177s.389-.127.584-.188l.418-.141.141-.048c11.289-3.736,17.506-5.8,25.98-7.3,8.746-1.554,19.844-2.462,38.551-3.687,23.146-1.548,35.088-4.8,45.619-7.661l.041-.006c7.91-2.157,14.738-4.01,24.773-4.711,5.494-.4,12.561-.67,20.045-.957l.086-.006h.1c25.961-1.006,61.51-2.384,81.129-9.935,10.027-3.857,19.029-7.264,27.553-9.843a121.647,121.647,0,0,1,12.3-3.108,59.4,59.4,0,0,1,11.02-1.151,28.456,28.456,0,0,1,11.764,2.212c1.1.5,2.465,1.122,4.551,2.073l.014.006c8.7,3.968,21.848,9.964,36.131,15.23,7.861,2.895,15.156,5.216,21.688,6.91a104.929,104.929,0,0,0,20.318,3.475c12.984.7,27.656,3.3,43.6,7.728,7.18,1.986,14.672,4.376,22.277,7.094,7.09,2.541,14.309,5.394,21.453,8.472a272.291,272.291,0,0,0,44.184,14.517c7.438,1.773,14.789,3.236,21.861,4.346,7.035,1.1,13.645,1.835,19.656,2.176,4.818.274,10.2.311,14.828.311,2.01,0,4.057-.006,6.258-.019h.408l1.621-.006h.461c1.5-.006,3.066-.012,4.654-.012,9.986,0,21.885.151,34.373,1.311a203.311,203.311,0,0,1,38.4,7.088c13.662,3.955,23.2,6.424,30.922,8.014a94.556,94.556,0,0,0,19.32,2.3,84.75,84.75,0,0,0,16.414-1.821,73.722,73.722,0,0,1,14.156-1.42c8.553,0,15.473,1.621,22.162,3.193l.049.006c1.154.274,2.211.519,3.139.731,4.674,1.1,13.8,2.861,23.043,4.567,2.746.223,15.137,1.18,27.424,1.18a140.363,140.363,0,0,0,16.84-.841c8.184-1.029,12.482-3.559,17.926-6.759l.006-.007a92.9,92.9,0,0,1,17.471-8.4,74.187,74.187,0,0,0,20.457-10.994,114.7,114.7,0,0,0,13.355-12.506l.012-.012c9.932-10.4,18.508-19.381,41.471-19.381,1.094,0,2.217.019,3.328.055a8.853,8.853,0,0,1,1.754.226V10878Z' transform='translate(-22619 -10732.999)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: left bottom;
    @include media-breakpoint-down(sm) {
        background-size: 200%;
    }
}
.green-hills {
    position: absolute;
    bottom: -1px;
    height: 144px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1580' height='145' viewBox='0 0 1580 145'%3E%3Cpath id='Union_1' data-name='Union 1' d='M24062.473,10878H22619v-91.868a276.487,276.487,0,0,0,35.316,2.384c12.725,0,23.91-1.043,33.252-3.109,6.7-1.469,16.428-5.107,29.74-11.134,11.66-5.278,24.516-11.672,36.949-17.851l.023-.013.207-.1.012-.006h.006l.115-.055c12.244-6.089,23.809-11.842,33.424-16.139,10.848-4.846,17.555-7.106,21.105-7.106a5.422,5.422,0,0,1,1.125.1c5.467,1.1,14.646,5.967,25.27,11.6l.006.007.1.048.041.024.068.03c7.027,3.73,14.986,7.954,23.061,11.715a152.118,152.118,0,0,0,24.391,9.275c9.428,2.529,24.633,5.405,42.23,8.739l.055.013.176.03c16.652,3.15,35.529,6.722,51.623,10.482,18.514,4.315,30.5,8.209,36.65,11.9a57.29,57.29,0,0,0,18.469,7.477,88.773,88.773,0,0,0,18.453,1.463c1.82,0,3.635-.012,5.553-.03l.334-.006.236-.007.51-.006c1.756-.012,3.941-.036,6.109-.036,5.012,0,9.291.1,13.469.329.668.036,1.385.055,2.119.055,6.416,0,14.373-1.4,24.322-4.267,9.5-2.736,19.48-6.46,27.109-9.391,3.189-1.22,6.436-2.487,9.045-3.512l.1-.036.068-.03c13.82-5.405,25.762-10.074,31.449-10.074a7.86,7.86,0,0,1,.941.05c7.121.779,17.117,3.863,27.7,7.136,7.348,2.273,14.947,4.619,22.359,6.437,8.322,2.053,14.969,3.047,20.309,3.047a28.126,28.126,0,0,0,8.748-1.213c.34-.109.674-.227,1.008-.336.184-.054.359-.115.541-.177s.389-.127.584-.188l.418-.141.141-.048c11.289-3.736,17.506-5.8,25.98-7.3,8.746-1.554,19.844-2.462,38.551-3.687,23.146-1.548,35.088-4.8,45.619-7.661l.041-.006c7.91-2.157,14.738-4.01,24.773-4.711,5.494-.4,12.561-.67,20.045-.957l.086-.006h.1c25.961-1.006,61.51-2.384,81.129-9.935,10.027-3.857,19.029-7.264,27.553-9.843a121.647,121.647,0,0,1,12.3-3.108,59.4,59.4,0,0,1,11.02-1.151,28.456,28.456,0,0,1,11.764,2.212c1.1.5,2.465,1.122,4.551,2.073l.014.006c8.7,3.968,21.848,9.964,36.131,15.23,7.861,2.895,15.156,5.216,21.688,6.91a104.929,104.929,0,0,0,20.318,3.475c12.984.7,27.656,3.3,43.6,7.728,7.18,1.986,14.672,4.376,22.277,7.094,7.09,2.541,14.309,5.394,21.453,8.472a272.291,272.291,0,0,0,44.184,14.517c7.438,1.773,14.789,3.236,21.861,4.346,7.035,1.1,13.645,1.835,19.656,2.176,4.818.274,10.2.311,14.828.311,2.01,0,4.057-.006,6.258-.019h.408l1.621-.006h.461c1.5-.006,3.066-.012,4.654-.012,9.986,0,21.885.151,34.373,1.311a203.311,203.311,0,0,1,38.4,7.088c13.662,3.955,23.2,6.424,30.922,8.014a94.556,94.556,0,0,0,19.32,2.3,84.75,84.75,0,0,0,16.414-1.821,73.722,73.722,0,0,1,14.156-1.42c8.553,0,15.473,1.621,22.162,3.193l.049.006c1.154.274,2.211.519,3.139.731,4.674,1.1,13.8,2.861,23.043,4.567,2.746.223,15.137,1.18,27.424,1.18a140.363,140.363,0,0,0,16.84-.841c8.184-1.029,12.482-3.559,17.926-6.759l.006-.007a92.9,92.9,0,0,1,17.471-8.4,74.187,74.187,0,0,0,20.457-10.994,114.7,114.7,0,0,0,13.355-12.506l.012-.012c9.932-10.4,18.508-19.381,41.471-19.381,1.094,0,2.217.019,3.328.055a8.853,8.853,0,0,1,1.754.226V10878Z' transform='translate(-22619 -10732.999)' fill='%23366141'/%3E%3C/svg%3E%0A");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: left bottom;
    @include media-breakpoint-down(sm) {
        background-size: 200%;
    }
}

.green-hills-with-sky {
    height: $spacer*24;
    background: transparent url("../images/the-forest-tinified.png") repeat-x bottom left;
    background-size: cover;
    z-index: 1;
    margin-top: -100px;
}

.snowy-hills-on-green {
    height: $spacer*6;
    z-index: 1;
    margin-top: -2px;
    @include media-breakpoint-up(lg) {
        height: $spacer*12;
    }
}

.column-content--green-tint {
    background-color: #f4f8f1;
    height: 100%;
    width: 100%;
    @include media-breakpoint-up(md) {
        height: 80%;
        width: 500%;
        bottom: -10%;
    }
}

.column-content--green-tint-first {
    @include media-breakpoint-up(md) {
        left: calc(-78% + 60px);
    }
}

.column-content--green-tint-last {
    right: calc(-78% + 60px);
}

.ping-pong-image--square {
    aspect-ratio: 700/687;
    background-color: #ccc;
    width: 100%;
    height: 288px;
    object-fit: cover;
    @include media-breakpoint-up(md) {
        height: 678px;
    }
}

.ping-pong-image--portrait {
    aspect-ratio: 723/540;
    background-color: #ccc;
    width: 100%;
    height: 540px;
    object-fit: cover;
}

.cards-with-icons {
    .card-img-top {
        margin: auto;
        width: 174px;
        height: 174px;
    }
}
.columned-media-and-text, .columned-white-media-and-text {
    .card-img-top {
        height: 332px;
    }
}
.custom-post-blocks {
    img {
        height: auto;
        width: 100%;
        @include media-breakpoint-up(xxl) {
            max-height: 250px;
        }
    }
}

.text-media-blocked, .text-media-wide {
    h2.h1 {
        position: relative;
        overflow: hidden;
        span {
            position: relative;
            z-index: 2;
        }
        &::before {
            z-index: 1;
            position: absolute;
            background-color: #94d756;
            left: 124px;
            height: 48px;
            width: 280px;
            content: '';
        }
    }
}
img.icons-download {
    margin-left: auto;
    width: auto;
    margin-right: 12px;
    height: 32px;
}

.contact-form-wrapper {
    border-radius: 8px;
    background-color: rgba($dark,.62);
}

.text-media-wide--img {
    width: 74%;
    height: auto;
    transform: translateY(-48%) !important;
    top: 50% !important;
    z-index: 3;
    @include media-breakpoint-up(xl) {
        width: 60%;
        width: calc(1104px / 1.5);
    }
    @include media-breakpoint-up(xxl) {
        width: 60%;
        width: calc(1324px / 1.8);
    }
    @include media-breakpoint-up(xxxl) {
        width: 50%;
        width: calc(1582px / 1.7);
    }
    @include media-breakpoint-up(xwide) {
        width: 50%;
        width: calc(1766px / 2);
    }
}

.order-lg-last .text-media-wide--img {
    left: 51% !important;
}
.order-lg-first .text-media-wide--img {
    right: 51% !important;
}
.module-color--green {
    background-color: #366141;
    *:not(.text-dark) {
        color: white !important;
    }
}
.module-color--grey {
    background-color: #f0f0f0;
}

.module-color--green + .green-hills-with-sky,
.module-color--grey + .green-hills-with-sky {
    margin-top: 0;
}

.module-color--open-curve {
    background-color: #E4EFDA;
}
.module-color--lime {
    background-color: #E4EFDA;
}
.module-color--close-curve {
    background-color: #E4EFDA;
}
